*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f3f3f5;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.container {
    background: #fff;
    max-width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.container-lista {
    background: #fff;
    width: 820px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form {
    margin-top: 4px;
    margin-bottom: 4px;
}

.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label{
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form input {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    border: 1px solid #999;
    border-radius: 4px;
}

.form input:focus {
    background: #f0f0f5;
}

.form button {
    background: green;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    margin-top: 4px;
    margin-bottom: 4px;

    transition: background 0.3s;
}

.form button:hover {
    background: rgb(116, 189, 116);
}

.separator {
    display: fixed;
    background: #999;
    height: 2px;
    border-radius: 1px;
}

.question {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.list-options {
    display: flex;
    flex-direction: column;
}

.list-options ul {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.list-games  {
    display: flex;
    margin-bottom: 12px;
}

.container-name {
    text-align: center;
    min-width: 40%;
    width: auto;
    float: left;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
}

.name {
    border-bottom: 2px solid #999;
    padding: 6px;
    font-weight: bold;
}

.container-correct {
    text-align: center;
    min-width: 30%;
    float: left;
    border-right: 2px solid #999;
}

.correct {
    border-bottom: 2px solid #999;
    padding: 6px;
    font-weight: bold;
}

.container-incorrect {
    text-align: center;
    min-width: 30%;
    float: left;
    border-right: 2px solid #999;
}

.incorrect {
    border-bottom: 2px solid #999;
    padding: 6px;
    font-weight: bold;
}


.footer {
    background: #f0f0f5;
    border-radius: 4px;
    padding: 12px;
}

.footer p {
    text-align: center;
    color: #4d4d4d;
    font-size: 12px;
}

.voltar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.voltar input {
    background: green;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    margin-top: 4px;
    margin-bottom: 4px;

    transition: background 0.3s;
}

.voltar input:hover {
    background: rgb(189, 116, 116);
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home input[type="submit"] {
    background: green;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    margin-top: 4px;
    margin-bottom: 4px;

    transition: background 0.3s;
}

.home input:hover {
    background: rgb(189, 116, 116);
}


.salvar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.salvar input {
    background: #024059;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;

    transition: background 0.3s;
}

.salvar input:hover {
    background: rgb(93, 115, 156);
}

.nobr {
    white-space: nowrap;
    text-align: center;
}

.nobr ut {
    margin-right: 27%;
}

.nobr ui {
    margin-right: 15%;
}


